body {
    margin: 0;
}

header {
    background-color: yellow;
    color: black;
    overflow: left;  
    width: 33%;
}

Footer {
    Background-colo: white;
    color: black;
    overflow: left;
    width: 33%;
}

section.col {
    width: 33%;
    float: left;
}

div#content {
    margin: 10px;
}
